* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Righteous", sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #101c2c;
  margin-top: 3rem;
}

.card {
  position: relative;
  height: 15rem;
  width: 15rem;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.card_front,
.card_back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.45);
  cursor: pointer;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.card_front {
  background-color: #101c2c;
  transform: rotateY(180deg);
}

.card_back {
  font-size: 4.5rem;
  color: #222;
  background-color: #03bb85;
}

/* Modal game Over */
.game-over {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.game-over h2 strong {
  font-size: 3rem;
  color: #FFF;
}

.game-over h2 {
  font-size: 2.5rem;
  color: #FFF;
}

.game-over .restart {
  font-size: 2.5rem;
  font-family: "Righteous", sans-serif;
  color: #222;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #03bb85;
  border-radius: 1rem;
  border: 0;
  cursor: pointer;
}

.game-over .restart:hover {
  background-color: #02b37e;
}